body{
    background-image: url(../images/background.jpg);
}

.row{
    background: #FFF5EE !important;
}

#title-container{
    text-align: center;
    padding: 0;
}

#image-title{
    width: 100%;
    height: 250px;
    margin-bottom: 5%;
}
